/* Other css file imports */

@import url("sections/header.css");
@import url("sections/home.css");
@import url("sections/footer.css");

/* Arial Fonts*/
@font-face {
        font-family: 'Arial'; 
        src: url('../fonts/Arial.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
}

@font-face {
        font-family: 'Arial'; 
        src: url('../fonts/Arial-Bold-Italic.ttf') format('truetype');
        font-weight: 700;
        font-style: italic;
}

@font-face {
        font-family: 'Arial'; 
        src: url('../fonts/Arial-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
}

@font-face {
        font-family: 'Arial'; 
        src: url('../fonts/Arial-Italic.ttf') format('truetype');
        font-weight: 400;
        font-style: italic;
}

/* Knockout Font */

@font-face {
        font-family: 'Knockout'; 
        src: url('../fonts/Knockout-HTF53Heviweight-Regular.otf') format('opentype');
        font-weight: 400;
        font-style: normal;
}

/* Nunito Fonts */

@font-face {
        font-family: 'Nunito'; 
        src: url('../fonts/Nunito-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
}

@font-face {
        font-family: 'Nunito'; 
        src: url('../fonts/Nunito-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
}

@font-face {
        font-family: 'Nunito'; 
        src: url('../fonts/Nunito-BoldItalic.ttf') format('truetype');
        font-weight: 700;
        font-style: italic;
}

@font-face {
        font-family: 'Nunito'; 
        src: url('../fonts/Nunito-ExtraBold.ttf') format('truetype');
        font-weight: 800;
        font-style: normal;
}

@font-face {
        font-family: 'Nunito'; 
        src: url('../fonts/Nunito-ExtraLight.ttf') format('truetype');
        font-weight: 200;
        font-style: normal;
}

@font-face {
        font-family: 'Nunito'; 
        src: url('../fonts/Nunito-ExtraLightItalic.ttf') format('truetype');
        font-weight: 200;
        font-style: italic;
}

@font-face {
        font-family: 'Nunito'; 
        src: url('../fonts/Nunito-Italic.ttf') format('truetype');
        font-weight: 400;
        font-style: italic;
}

@font-face {
        font-family: 'Nunito'; 
        src: url('../fonts/Nunito-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
}

/* OpenSans Font*/

@font-face {
        font-family: 'OpenSans'; 
        src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
}

/* CSS variables for reusability */

:root {

  /* Fonts */
  --Nunito: "Nunito", sans-serif;
  --Arial: "Arial", sans-serif;
  --Knockout: "Knockout", sans-serif;
  --OpenSans: "OpenSans", sans-serif;

  /* Colour Palatte */
  --chou-purple: #27004B;

  --color-white: #ffffff;
  --color-black: #0D0D0D;

  --rich-grey: #262626;
  --medium-grey: #D1D3D4;
  --light-grey: #F8F8F8;

  --fuschia: #810054;
  --rich-gold: #DBA510;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: var(--Nunito);
  background-color: var(--color-white);
}

a {
  text-decoration: none;
  color: inherit;
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--OpenSans);

  letter-spacing: 3px;
  text-transform: uppercase;

  color: var(--color-black);
}

.title {
  font-size: 64px;
  font-weight: 700;
  font-family: var(--Knockout);

  letter-spacing: 3px;
  text-transform: uppercase;

  color: var(--color-white);
}

.description {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--Nunito);

  line-height: 36px;

  color: var(--color-white);

  margin: 16px 0px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.art__hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.art__hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* General media queries */

@media screen and (max-width: 900px) {
        .subtitle {
        font-size: 18px;
        }

        .title {
        font-size: 50px;
        }

        .description {
        font-size: 18px;
        line-height: 18px;
        margin: 16px 0px;
        }
}

@media screen and (max-width: 650px) {
        .subtitle {
        font-size: 18px;
        }

        .title {
        font-size: 32px;
        }

        .description {
        font-size: 18px;
        line-height: 18px;
        margin: 16px 0px;
        }
}

/* Header media queries */

@media screen and (max-width: 900px) {
        .header_menu {
        display: none;
        }

        .header_menu-mobile {
        display: flex;
        }
}

@media screen and (max-width: 550px) {
        .header_logo {
        display: none;
        }

        .contact_btn {
        padding: 16px 16px;
        border-radius: 25px;
        min-width: 50px;
        outline: none;
        border: none;
        font-size: 12px;
        line-height: 12px;
        background: var(--fuschia);
        cursor: pointer;
        color: var(--color-white);
        text-transform: uppercase;
        } 

        .header_menu-mobile img {
        width: 24px;
        height: 24px;
        }
}

/* Weaving media queries */
@media screen and (max-width: 900px) {
        .hero_weaving-text h2 {
        font-size: 24px;
        }
}

@media screen and (max-width: 660px) {
        .hero_weaving-text h2 {
        font-size: 18px;
        }

        .hero_weaving-text p {
        font-size: 12px;
        line-height: 12px;
        margin: 5px 0px;
        }
}

@media screen and (max-width: 450px) {
        .hero_weaving-text h2 {
        font-size: 14px;
        }

        .hero_weaving-text p {
        font-size: 10px;
        line-height: 12px;
        margin: 5px 0px;
        }
}

/* Legacy media queries */

@media screen and (max-width: 600px) {
        .legacy {
        padding: 20px 0; 
        }

        .legacy_text-box p {
        font-size: 18px;
        padding-bottom: 20px;
        }
}