/* Arial Fonts*/
@font-face {
        font-family: 'Arial'; 
        src: url('fonts/Arial.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
}

@font-face {
        font-family: 'Arial'; 
        src: url('fonts/Arial-Bold-Italic.ttf') format('truetype');
        font-weight: 700;
        font-style: italic;
}

@font-face {
        font-family: 'Arial'; 
        src: url('fonts/Arial-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
}

@font-face {
        font-family: 'Arial'; 
        src: url('fonts/Arial-Italic.ttf') format('truetype');
        font-weight: 400;
        font-style: italic;
}

/* Knockout Font */

@font-face {
        font-family: 'Knockout'; 
        src: url('fonts/Knockout-HTF53Heviweight-Regular.otf') format('opentype');
        font-weight: 400;
        font-style: normal;
}

/* Nunito Fonts */

@font-face {
        font-family: 'Nunito'; 
        src: url('fonts/Nunito-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
}

@font-face {
        font-family: 'Nunito'; 
        src: url('fonts/Nunito-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
}

@font-face {
        font-family: 'Nunito'; 
        src: url('fonts/Nunito-BoldItalic.ttf') format('truetype');
        font-weight: 700;
        font-style: italic;
}

@font-face {
        font-family: 'Nunito'; 
        src: url('fonts/Nunito-ExtraBold.ttf') format('truetype');
        font-weight: 800;
        font-style: normal;
}

@font-face {
        font-family: 'Nunito'; 
        src: url('fonts/Nunito-ExtraLight.ttf') format('truetype');
        font-weight: 200;
        font-style: normal;
}

@font-face {
        font-family: 'Nunito'; 
        src: url('fonts/Nunito-ExtraLightItalic.ttf') format('truetype');
        font-weight: 200;
        font-style: italic;
}

@font-face {
        font-family: 'Nunito'; 
        src: url('fonts/Nunito-Italic.ttf') format('truetype');
        font-weight: 400;
        font-style: italic;
}

@font-face {
        font-family: 'Nunito'; 
        src: url('fonts/Nunito-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
}

/* OpenSans Font*/

@font-face {
        font-family: 'OpenSans'; 
        src: url('fonts/OpenSans-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
}

/* Other css file imports */

/* CSS variables for reusability */

:root {

  /* Fonts */
  --Arial: "Arial", sans-serif;
  --Knockout: "Knockout", sans-serif;
  --Nunito: "Nunito", sans-serif;
  --Opensans: "OpenSans", sans-serif;

  /* Colour Palatte */
  --chou-purple: #27004B;

  --color-white: #ffffff;
  --color-black: #0D0D0D;

  --rich-grey: #262626;
  --medium-grey: #D1D3D4;
  --light-grey: #F8F8F8;

  --fuschia: #810054;
  --rich-gold: #DBA510;
}

*{
    margin: 0;
    padding: 0;
}