header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(255,255,255,0.9));
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.header_logo {
    flex: 0 0 auto;
}

.header_logo img {
    width: 168px;
    display: block;
}
  
.header_menu {
    padding-top: 32px;
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px; 
    list-style: none;
}
  
.header_menu li {
    position: relative;
    font-family: var(--OpenSans);
    font-weight: 700;
    color: var(--chou-purple);
    font-size: 20px;
    text-transform: uppercase;
    line-height: 20px;
    cursor: pointer;
}

.header_menu li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--chou-purple);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.header_menu li:hover::after {
    color: var(--rich-gold);
    transform-origin: left;
    transform: scaleX(1);
}

.header_menu li a {
    display: inline-flex;
    align-items: center;
    letter-spacing: 3px;
    transition: color 0.2s ease;
}

.header_menu li a:hover {
    color: var(--rich-gold);
}
  
.header_menu li img {
    width: 18px;
    height: 18px;
    position: relative;
    top: 2px;
}

.header_menu li.navbar_dropdown::after {
    content: none;
}

.navbar_dropdown_arrow {
    position: relative;
    display: inline-block;
}

.navbar_dropdown_text {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 5px;
    background: var(--chou-purple);
    padding: 10px 22px;
    border-radius: 2px;
    z-index: 1;
    display: none;
}

.navbar_dropdown_text a {
    display: block;
    padding: 8px 0;
    font-size: 13px;
    color: var(--color-white);
    text-transform: none;
    cursor: pointer;
}

.navbar_dropdown:hover .navbar_dropdown_text {
    display: block;
}

.header_contact {
    flex: 0 0 auto;
}

.contact_btn {
    display: flex;
    padding: 20px 20px;
    border-radius: 25px;
    min-width: 100px;
    outline: none;
    border: none;
    background: var(--fuschia);
    cursor: pointer;
    color: var(--color-white);
    text-transform: uppercase;
}

.contact_btn:hover {
    background: transparent;
    color: var(--fuschia);
}

.header_menu-mobile {
    list-style: none;
    display: none;
    gap: 20px;
    position: relative;
}

.header_menu-mobile img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}