header {
    width: 100%;
    background-color: var(--color-white);
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}
  
.header_menu {
    padding-top: 32px;
    display: flex;
    gap: 20px; 
    list-style: none;
}
  
.header_menu li {
    position: relative;
    font-family: var(--OpenSans);
    font-weight: 900;
    color: var(--chou-purple);
    font-size: 20px;
    text-transform: uppercase;
    line-height: 20px;
    cursor: pointer;
}

.header_menu li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--chou-purple);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.header_menu li:hover::after {
    color: var(--rich-gold);
    transform-origin: left;
    transform: scaleX(1);
}

.header_menu li a {
    letter-spacing: 3px;
    transition: color 0.2s ease;
}

.header_menu li a:hover {
    color: var(--rich-gold);
}
  
.header_menu li img {
    width: 10px;
    height: 10px;
    object-fit: contain;
    vertical-align: middle;
}