.home_banner {
    min-height: 84vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.2), rgba(4,9,30,0.2)), url(/images/Cover-Homepage.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: left;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.text-box h1 {
    text-transform: uppercase;
}