.home_banner {
    min-height: 84vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.2), rgba(4,9,30,0.2)), url("../../images/Cover-Homepage.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner_text-box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: left;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.banner_text-box h1 {
    text-transform: uppercase;
}

.hero_weaving {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin-top: 50px;
}

.hero_weaving_grid {
    display: grid;
    height: 100%;
    grid-auto-columns: 1fr;
    grid-auto-rows: auto;
    gap: 20px;
    max-width: 95%;
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: 5px solid var(--chou-purple);
}

.hero_weaving img, .hero_weaving-box2 {
    border-radius: 25px;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.hero_weaving img {
    transition: box-shadow 0.3s ease;
}

.hero_weaving img:hover {
    box-shadow: 0 0 20px var(--chou-purple);
}

.hero_weaving-box1 {
    grid-row: 1/10;
}

.hero_weaving-box2 {
    grid-row: 1/9;
}

.hero_weaving-box3 {
    grid-row: 11/12;
}

.hero_weaving-box4 {
    grid-row: 9/12;
}

.hero_weaving-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
}

.hero_weaving-text h2 {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0;
    color: var(--color-black)
}

.hero_weaving-text p {
    font-size: 16px;
    line-height: 20px;
    margin: 12px 0px;
    color: var(--color-black);
}

.legacy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40vh;
    padding: 50px 0; 
}

.legacy_text-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.legacy_text-box p {
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    font-family: var(--OpenSans);
    margin-right: 25%;
    padding-bottom: 70px;
    color: var(--color-black);
}

.legacy_grid {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 40px 20px;
    grid-auto-columns: 1fr;
    grid-auto-rows: auto;
    gap: 10px;
    margin: 0 auto;
    background-color: var(--light-grey);
}

.legacy_grid img {
    border-radius: 25px;
    width: 100%;
    object-fit: cover;
    height: 100%; 
}

.legacy_grid img {
    transition: box-shadow 0.3s ease;
}

.legacy_grid img:hover {
    box-shadow: 0 0 20px var(--chou-purple);
}

.legacy-box1 {
    grid-row: 1/3;
}

.legacy-box2 {
    grid-row: 1/2;
}

.legacy-box3 {
    grid-row: 1/2;
}

.legacy-box4 {
    grid-row: 3/4;
}

.legacy-box5 {
    grid-row: 2/4;
}

.legacy-box6 {
    grid-row: 2/4;
}

.ensemble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30vh; 
    padding: 0 15% 5% 15%;
}

.ensemble_header {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 26px 0;
}

.ensemble_header::before,
.ensemble_header::after {
    content: "";
    border-bottom: 5px solid var(--chou-purple);
}

.ensemble_header::before {
    flex: 0.2;
    margin-right: 10px;
}

.ensemble_header::after {
    flex: 1.8;
    margin-left: 10px;
}

.ensemble_header span {
    font-size: 32px;
    letter-spacing: 0px;
    color: var(--chou-purple);
}

.ensemble_content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 50px;
}

.ensemble_image,
.ensemble_text-box {
    flex: 1;
}

.ensemble_image img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ensemble_image img {
    transition: box-shadow 0.3s ease;
}

.ensemble_image img:hover {
    box-shadow: 0 0 20px var(--chou-purple);
}

.ensemble_text-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 100px 0 40px;
}

.ensemble_text-box p {
    line-height: 25px;
    color: var(--chou-purple);
    margin: 0;
}

.ensemble_content button {
    display: flex;
    padding: 20px 40px;
    border-radius: 25px;
    min-width: 100px;
    outline: none;
    border: none;
    background: var(--chou-purple);
    cursor: pointer;
    color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    margin-top: 30px;
    align-self: start;
}