.home_banner {
    min-height: 84vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.2), rgba(4,9,30,0.2)), url(/images/Cover-Homepage.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: left;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.text-box h1 {
    text-transform: uppercase;
}

.hero_weaving {
    display: flex;
    min-height: 60vh;
    padding: 20px;
    margin-top: 20px;
}

.hero_weaving_grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}

.hero_weaving img {
    border-radius: 25px;
}

.hero_weaving-image1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero_weaving-image2 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero_weaving-image3 {
   grid-column: 2/3;
   grid-row: 2/3;
   width: 100%;
   height: auto;
   object-fit: cover;
}

.hero_weaving-text {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    position: absolute;
    height: 100%;
}

.hero_weaving-text h2 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0;
    color: var(--color-black)
}

.hero_weaving-text p {
    font-size: 12px;
    line-height: 20px;
    margin: 12px 0px;
    color: var(--color-black);
}