.home_banner {
    min-height: 84vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.2), rgba(4,9,30,0.2)), url(/images/Cover-Homepage.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: left;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.text-box h1 {
    text-transform: uppercase;
}

.hero_weaving {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin-top: 50px;
}

.hero_weaving_grid {
    display: grid;
    height: 100%;
    grid-auto-columns: 1fr;
    grid-auto-rows: auto;
    gap: 20px;
    max-width: 95%;
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: 5px solid var(--chou-purple);
}

.hero_weaving img, .hero_weaving-box2 {
    border-radius: 25px;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.hero_weaving-box1 {
    grid-row: 1/10;
}

.hero_weaving-box2 {
    grid-row: 1/9;
}

.hero_weaving-box3 {
    grid-row: 11/12;
}

.hero_weaving-box4 {
    grid-row: 9/12;
}

.hero_weaving-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
    justify-content: center;
    height: 100%;
}

.hero_weaving-text h2 {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0;
    color: var(--color-black)
}

.hero_weaving-text p {
    font-size: 12px;
    line-height: 20px;
    margin: 12px 0px;
    color: var(--color-black);
}